<div>事前準備</div>
<a href="https://angular.io/guide/setup-local" target="blank">Angular安裝說明</a>
<div>這邊假設已經準備好Angular開發環境 v6以上</div>
<div>(Angular CLI v6)ng new project</div>
<div>cd project</div>
<div>ng add @progress/kendo-angular-grid</div>
<div>到這邊我們的事前準備完全</div>

<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="app.component.html">

        </mat-tab>
        <mat-tab label="app.component.ts">

        </mat-tab>
        <mat-tab label="app.module.ts">

        </mat-tab>
        <mat-tab label="edit.service.ts">

        </mat-tab>
        <mat-tab label="model.ts">

        </mat-tab>
    </mat-tab-group>
</mat-card>