<h3>
  事前準備
</h3>

<h4>
  這邊假設已經準備好
  <a href="https://angular.io/guide/setup-local" style="text-decoration:none;" target="blank"> Angular</a>
  開發環境 v6以上
  <br />
  1. ng new kendo-angular-grid
  <br />
  2. cd kendo-angular-grid
  <br />
  3. ng add @progress/kendo-angular-grid
</h4>

<h3>
  完整代碼
</h3>
<mat-card class="source-code-tab-card">
  <mat-tab-group class="tab-source-code-background">
    <mat-tab label="app.component.html">
      <app-html></app-html>
    </mat-tab>
    <mat-tab label="app.component.ts">
      <app-ts></app-ts>
    </mat-tab>
    <mat-tab label="edit.service.ts">
      <app-service></app-service>
    </mat-tab>
    <mat-tab label="app.module.ts">
      <app-module></app-module>
    </mat-tab>
    <mat-tab label="model.ts">
      <app-model></app-model>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<h3>
  查詢
</h3>
<h4>
  - 最簡單的方式 [filterable] = true、[filterable] = "menu"
  <br />
  - [Optional] 提供自定義的事件 (filterChange) = "myFilterChange($event)"
  <br />
  - [Optional] 依照
  <a
    href="https://www.telerik.com/kendo-angular-ui/components/dataquery/api/FilterDescriptor/"
    style="text-decoration:none;"
    target="blank"
  >
    FilterDescriptor
  </a>
  的格式，設定初始化的查詢 [filter]="myfilter"，格式範例如下
  <br />
  - [Optional] 如果要進一步客製化查詢樣式，可以參考
  <a
    href="https://www.telerik.com/kendo-angular-ui/components/grid/filtering/built-in-template/"
    style="text-decoration:none;"
    target="blank"
  >
    Build-In Filter Template
  </a>
</h4>
<mat-card class="source-code-card">
  <app-filter></app-filter>
</mat-card>

<h3>
  新增/編輯/刪除
</h3>
<h4>
  我們可以在範例程式碼中，找到下面的程式碼
  <br />
  於 kendo-grid-command-column
  中將編輯、刪除、存檔、取消的按鈕加入，以利啟動功能
</h4>
<img class="img-card" src="assets/grid/crud-button.png" />
<h4>
  加入新增的按鈕於 kendoGridToolbarTemplate 中
  <br />
  另外將新增、刪除、編輯的事件，指定給 Kendo UI
</h4>
<img class="img-card" src="assets/grid/crud-event.png" />
<h4>
  可以在自己所提供的function邏輯中，調用 Kendo UI 提供的事件
  <br />
  - sender.addRow()
  <br />
  - sender.editRow()
  <br />
  - sender.removeRow()
  <br />
  - sender.closeRow()
</h4>
<img class="img-card" src="assets/grid/kendo-grid-curd-event.png" />
<h3>
  分頁
</h3>
<h4>
  - 需要設定 [pageSize]="gridState.take" [skip]="gridState.skip"
  [pageable]="true"
  <br />
  - [Optional] 提供自定義的事件 (pageChange) = "myPageChange($event)"
  <br />
  - [Optional] 如果要進一步客製化查詢樣式，可以參考
  <a
    href="https://www.telerik.com/kendo-angular-ui/components/grid/paging/"
    style="text-decoration:none;"
    target="blank"
  >
    Pager Template
  </a>
</h4>
<h3>
  排序
</h3>
<h4>
  - 設定 [sortable]="true" 或是 [sortable]="mySorter"，如下範例
  <br />
  - 初始化 [sort]="[]" 或是 [sort]="sort"，如下範例
  <br />
  - [Optional] 提供自定義的事件 (sortChange) = "mySortChange($event)"
  <br />
</h4>
<mat-card class="source-code-card">
  <app-sort></app-sort>
</mat-card>
<h3>
  分群
</h3>
<h4>
  - [groupable] = true、[group] = "myGroup"
  <br />
  - [Optional] 提供自定義的事件 (groupChange) = "myGroupChange($event)"
</h4>
<mat-card class="source-code-card">
  <app-group></app-group>
</mat-card>
<h3>
  PDF/Excel
</h3>
<h4>
  - 於AppModule中，加入PDFModule、ExcelModule
  <br />
  - 加入PDF/Excel Component於 Kendo UI中，如上面的完整範例，其他設定值可以參考
  <a
    href="https://www.telerik.com/kendo-angular-ui/components/grid/api/PDFComponent/"
    style="text-decoration:none;"
    target="blank"
  >
    PDF
  </a>
  、
  <a
    href="https://www.telerik.com/kendo-angular-ui/components/grid/api/ExcelComponent/"
    style="text-decoration:none;"
    target="blank"
  >
    Excel
  </a>
  <br />
  - 在Kendo UI的Toolbar中，加入PDF/Excel按鈕
  <br />
  - 可以使用Kendo的excelExport接口，提供自已的Excel邏輯，如：
  (excelExport)="onExcelExport($event)" 可以參考
  <a
    href="https://www.telerik.com/kendo-angular-ui/components/grid/export/excel-export/#toc-customizing-generated-workbooks"
    style="text-decoration:none;"
    target="blank"
  >
    Export Excel
  </a>
  <br />
  - PDF更多的設計方式可以參考
  <a
    href="https://www.telerik.com/kendo-angular-ui/components/grid/export/pdf-export/#toc-specifying-page-template"
    style="text-decoration:none;"
    target="blank"
  >
    PDF Template
  </a>
</h4>
