<div class="m1">
  <span class="pun">export </span>
  <span class="">class </span>
  <span class="rty">Product </span>
  <span class="">{{ "{" }}</span>
</div>
<div class="m2">
  <span class="">public </span>
  <span class="">ProductID</span>
  <span class="">: </span>
  <span class="pun">number</span>
  <span class="">;</span>
</div>
<div class="m2">
  <span class="">public </span>
  <span class="">ProductName </span>
  <span class="">= </span>
  <span class="">''</span>
  <span class="">;</span>
</div>
<div class="m2">
  <span class="">public </span>
  <span class="">Discontinued </span>
  <span class="">= </span>
  <span class="atv">false</span>
  <span class="">;</span>
</div>
<div class="m2">
  <span class="">public </span>
  <span class="">UnitsInStock</span>
  <span class="">: </span>
  <span class="pun">number</span>
  <span class="">;</span>
</div>
<div class="m2">
  <span class="">public </span>
  <span class="">UnitPrice </span>
  <span class="">= </span>
  <span class="atv">0</span>
  <span class="">;</span>
</div>
<div class="m1">
  <span class="">{{ "}" }} </span>
</div>
