<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" [opened]="panelOpenState">
    <div style="margin-left: 5%;">
      <mat-form-field>
        <mat-select [(value)]="selectedProduct">
          <mat-option *ngFor="let productListData of productListDatas" [value]="productListData.value">
            {{productListData.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-list *ngIf="selectedProduct == 'kendo'">
      <div *ngFor="let sessionListData of sessionListDatas">
        <h3 mat-subheader>{{ sessionListData.name }}</h3>
        <mat-list-item class="sidenav-list-item" routerLinkActive="active-list-item"
          *ngFor="let list of sessionListData.lists">
          <a class="sidenav-session-list" routerLink="{{ list.route }}" mat-line>{{ list.name }}</a>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
    <mat-list *ngIf="selectedProduct == 'infragistics'">
      <div *ngFor="let infragisticsListData of infragisticsListDatas">
        <h3 mat-subheader>{{ infragisticsListData.name }}</h3>
        <mat-list-item class="sidenav-list-item" routerLinkActive="active-list-item"
          *ngFor="let list of infragisticsListData.lists">
          <a class="sidenav-session-list" routerLink="{{ list.route }}" mat-line>{{ list.name }}</a>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div #top></div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>