<h3>
    編輯 - Editing
</h3>
<h4>
    - 編輯模式也就是CRUD，設置Grid的 <code>editable</code> 屬性，並引用 <code>dataSource</code>。
    <br>
    - 編輯模式有
    <ul>
        <li>1. Batch edit mode， 添加 <code>editable</code> 屬性並設為 <code>true</code></li>
        <li>2. Inline edit mode， 添加 <code>editable</code> 屬性並設為 <code>inline</code></li>
        <li>3. Popup edit mode， 添加 <code>editable</code> 屬性並設為 <code>popup</code></li>
    </ul>
    - 更多說明，請參考
    <a target="blank" style="text-decoration:none;" href="https://www.telerik.com/kendo-vue-ui/components/grid/editing/">這裡</a>
    <br>
</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img class="img-card" width="80%" src="assets/vue/grid/edit-demo.png" />
        </mat-tab>
        <mat-tab label="HTML-1">
            <img class="img-card" width="60%" src="assets/vue/grid/edit-prop.png" />
        </mat-tab>
        <mat-tab label="HTML-2">
            <img class="img-card" width="60%" src="assets/vue/grid/data.png" />
        </mat-tab>
        <mat-tab label="HTML-3">
            <img class="img-card" width="60%" src="assets/vue/grid/edit-column.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
