<h3>
    查詢 - Filtering
</h3>
<h4>
    - 添加 <code>filterable</code> 屬性並設為 <code>true</code> ，欄位旁邊會顯示查詢按鈕。
    <br>
    - 更多說明，請參考
    <a target="blank" style="text-decoration:none;" href="https://www.telerik.com/kendo-vue-ui/components/grid/filtering/">
        這裡
    </a>
    <br>
</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img class="img-card" width="80%" src="assets/vue/grid/filter-demo.png" />
        </mat-tab>
        <mat-tab label="HTML-1">
            <img class="img-card" width="60%" src="assets/vue/grid/filter-prop.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
