<div class="m1">
  <span class="tag"><</span>
  <span class="tag">kendo-grid</span>
</div>
<div class="m1">
  <span class="atn">[data]</span>
  <span>="</span>
  <span class="atv">view | async</span>
  <span>"</span>
</div>
<div class="m1">
  <span class="atn">[pageSize]</span>
  <span>="</span>
  <span class="atv">gridState.take</span>
  <span>"</span>
</div>
<div class="m1">
  <span class="atn">[skip]</span>
  <span>="</span>
  <span class="atv">gridState.skip</span>
  <span>"</span>
</div>
<div class="m1">
  <span class="atn">[filterable]</span>
  <span>="</span>
  <span class="atv">true</span>
  <span>"</span>
</div>
<div class="m1">
  <span class="atn">[sort]</span>
  <span>="</span>
  <span class="atv">gridState.sort</span>
  <span>"</span>
</div>
<div class="m1">
  <span class="atn">[pageable]</span>
  <span>="</span>
  <span class="atv">true</span>
  <span>"</span>
</div>
<div class="m1">
  <span class="atn">[sortable]</span>
  <span>="</span>
  <span class="atv">true</span>
  <span>"</span>
</div>
<div class="m1">
  <span class="atn">(dataStateChange)</span>
  <span>="</span>
  <span class="atv">onStateChange($event)</span>
  <span>"</span>
</div>
<div class="m1">
  <span class="atn">(edit)</span>
  <span>="</span>
  <span class="atv">editHandler($event)</span>
  <span>"</span>
</div>
<div class="m1">
  <span class="atn">(cancel)</span>
  <span>="</span>
  <span class="atv">cancelHandler($event)</span>
  <span>"</span>
</div>
<div class="m1">
  <span class="atn">(save)</span>
  <span>="</span>
  <span class="atv">saveHandler($event)</span>
  <span>"</span>
</div>
<div class="m1">
  <span class="atn">(remove)</span>
  <span>="</span>
  <span class="atv">removeHandler($event)</span>
  <span>"</span>
</div>
<div class="m1">
  <span class="atn">(add)</span>
  <span>="</span>
  <span class="atv">addHandler($event)</span>
  <span>"</span>
</div>
<div class="m1">
  <span class="atn">[navigable]</span>
  <span>="</span>
  <span class="atv">true</span>
  <span>"</span>
</div>
<div class="m1">
  <span class="tag">></span>
</div>
<div class="m1">
  <span class="tag"><</span>
  <span class="tag">ng-template </span>
  <span class="atn">kendoGridToolbarTemplate</span>
  <span class="tag">></span>
</div>
<div class="m2">
  <span class="tag"><</span>
  <span class="tag">button </span>
  <span class="atn">kendoGridAddCommand</span>
  <span class="tag">></span>
  <span>Add new</span>
  <span class="tag"><</span>
  <span class="tag">/button</span>
  <span class="tag">></span>
</div>
<div class="m2">
  <span class="tag"><</span>
  <span class="tag">button </span>
  <span class="atn">kendoGridPDFCommand </span>

  <span class="atn">icon</span>
  <span>="</span>
  <span class="atv">file-pdf</span>
  <span>"></span>

  <span>Export to PDF</span>
  <span class="tag"><</span>
  <span class="tag">/button</span>
  <span class="tag">></span>
</div>
<div class="m2">
  <span class="tag"><</span>
  <span class="tag">button </span>
  <span class="atn">kendoGridExcelCommand </span>

  <span class="atn">icon</span>
  <span>="</span>
  <span class="atv">file-excel</span>
  <span>"></span>

  <span>Export to Excel</span>
  <span class="tag"><</span>
  <span class="tag">/button</span>
  <span class="tag">></span>
</div>
<div class="m1">
  <span class="tag"><</span>
  <span class="tag">/ng-template</span>
  <span class="tag">></span>
</div>

<!-- 
<ng-template kendoGridToolbarTemplate>
  <button kendoGridAddCommand>Add new</button>
  <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
  <button type="button" kendoGridExcelCommand icon="file-excel">
    Export to Excel
  </button>
</ng-template> -->
