<h3>Datedate-Inputs - 日期輸入</h3>
<h4>日期輸入 - DateInput</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/date-inputs/DateInput_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/date-inputs/DateInput_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
<h4>日期選擇 - DatePicker</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/date-inputs/DatePicker_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/date-inputs/DatePicker_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
<h4>時間選擇 - TimePicker</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/date-inputs/TimePicker_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/date-inputs/TimePicker_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
<h4>日期時間選擇 - DateTimePicker</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/date-inputs/DateTimePicker_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/date-inputs/DateTimePicker_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
<h4>起訖日期選擇 - DateRangePicker</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/date-inputs/DateRangePicker_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/date-inputs/DateRangePicker_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
<h4>日曆 - Calendar</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/date-inputs/Calendar_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/date-inputs/Calendar_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
<h4>多視圖日曆 - MultiViewCalendar</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/date-inputs/MultiViewCalendar_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/date-inputs/MultiViewCalendar_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
