<h3>
    排序 - Sorting
</h3>
<h4>
    - 添加 <code>sortable</code> 屬性並設為 <code>true</code> ，點擊欄位做出單列排序。
    <br>
    - 添加其他屬性 <code>sortable-mode</code> 屬性並設為 <code>multiple</code> ，點擊欄位做出多列排序。
    <br>
    - 更多說明，請參考
    <a target="blank" style="text-decoration:none;" href="https://www.telerik.com/kendo-vue-ui/components/grid/sorting/">
        這裡
    </a>
    <br>
</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img class="img-card" width="80%" src="assets/vue/grid/sort-demo.png" />
        </mat-tab>
        <mat-tab label="HTML-1">
            <img class="img-card" width="60%" src="assets/vue/grid/sort-prop.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
