<mat-nav-list>
    <a mat-list-item>
        <span mat-line>聯絡窗口 林經理, Elsa Lin</span>
    </a>
    <a mat-list-item>
        <span mat-line>地址 台北市中正區忠孝東路一段86號3樓之5</span>
    </a>
    <a mat-list-item>
        <span mat-line>電話 +886-2-23560269</span>
    </a>
    <a mat-list-item>
        <span mat-line>傳真 +886-2-23956826</span>
    </a>
    <a mat-list-item>
        <span mat-line>業務洽詢 info@accesssoft.com.tw</span>
    </a>
    <a mat-list-item>
        <span mat-line>技術洽詢 support@accesssoft.com.tw</span>
    </a>
</mat-nav-list>