<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ '{' }} </span>
    <span class="tag">Observable </span>
    <span class="">{{ '}' }} </span>
    <span class="pun">from </span>
    <span class="atv">'rxjs'</span>
    <span class="">;</span>
</div>

<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ '{' }} </span>
    <span class="tag">Component</span>
    <span class="">, </span>
    <span class="tag">OnInit</span>
    <span class="">, </span>
    <span class="tag">Inject </span>
    <span class="">{{ '}' }} </span>
    <span class="pun">from </span>
    <span class="atv">'@angular/core'</span>
    <span class="">;</span>
</div>

<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ '{' }} </span>
    <span class="tag">FormGroup</span>
    <span class="">, </span>
    <span class="tag">FormControl</span>
    <span class="">, </span>
    <span class="tag">Validators </span>
    <span class="">{{ '}' }} </span>
    <span class="pun">from </span>
    <span class="atv">'@angular/forms'</span>
    <span class="">;</span>
</div>

<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ '{' }} </span>
    <span class="tag">GridDataResult </span>
    <span class="">{{ '}' }} </span>
    <span class="pun">from </span>
    <span class="atv">'@progress/kendo-angular-grid'</span>
    <span class="">;</span>
</div>

<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ '{' }} </span>
    <span class="tag">State</span>
    <span class="">, </span>
    <span class="tag">process </span>
    <span class="">{{ '}' }} </span>
    <span class="pun">from </span>
    <span class="atv">'@progress/kendo-data-query'</span>
    <span class="">;</span>
</div>

<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ '{' }} </span>
    <span class="tag">Product </span>
    <span class="">{{ '}' }} </span>
    <span class="pun">from </span>
    <span class="atv">'./model'</span>
    <span class="">;</span>
</div>

<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ '{' }} </span>
    <span class="tag">EditService </span>
    <span class="">{{ '}' }} </span>
    <span class="pun">from </span>
    <span class="atv">'./edit.service'</span>
    <span class="">;</span>
</div>

<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ '{' }} </span>
    <span class="tag">map </span>
    <span class="">{{ '}' }} </span>
    <span class="pun">from </span>
    <span class="atv">'rxjs/operators'</span>
    <span class="">;</span>
</div>