<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ '{' }} </span>
    <span class="rty">Observable </span>
    <span class="">{{ '}' }} </span>
    <span class="pun">from </span>
    <span class="atv">'rxjs'</span>
    <span class="">;</span>
</div>

<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ '{' }} </span>
    <span class="rty">Component</span>
    <span class="">, </span>
    <span class="rty">OnInit</span>
    <span class="">, </span>
    <span class="rty">Inject </span>
    <span class="">{{ '}' }} </span>
    <span class="pun">from </span>
    <span class="atv">'@angular/core'</span>
    <span class="">;</span>
</div>

<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ '{' }} </span>
    <span class="rty">FormGroup</span>
    <span class="">, </span>
    <span class="rty">FormControl</span>
    <span class="">, </span>
    <span class="rty">Validators </span>
    <span class="">{{ '}' }} </span>
    <span class="pun">from </span>
    <span class="atv">'@angular/forms'</span>
    <span class="">;</span>
</div>

<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ '{' }} </span>
    <span class="rty">GridDataResult </span>
    <span class="">{{ '}' }} </span>
    <span class="pun">from </span>
    <span class="atv">'@progress/kendo-angular-grid'</span>
    <span class="">;</span>
</div>

<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ '{' }} </span>
    <span class="rty">State</span>
    <span class="">, </span>
    <span class="rty">process </span>
    <span class="">{{ '}' }} </span>
    <span class="pun">from </span>
    <span class="atv">'@progress/kendo-data-query'</span>
    <span class="">;</span>
</div>

<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ '{' }} </span>
    <span class="rty">Product </span>
    <span class="">{{ '}' }} </span>
    <span class="pun">from </span>
    <span class="atv">'./model'</span>
    <span class="">;</span>
</div>

<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ '{' }} </span>
    <span class="rty">EditService </span>
    <span class="">{{ '}' }} </span>
    <span class="pun">from </span>
    <span class="atv">'./edit.service'</span>
    <span class="">;</span>
</div>

<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ '{' }} </span>
    <span class="rty">map </span>
    <span class="">{{ '}' }} </span>
    <span class="pun">from </span>
    <span class="atv">'rxjs/operators'</span>
    <span class="">;</span>
</div>
<br>
<div>
    <div class="m1">
        <span class="">@</span>
        <span class="rty">Component</span>
        <span class="">{{ '({' }}</span>
    </div>
    <div class="m2">
        <span class="">selector: </span>
        <span class="atv">'app-root'</span>
        <span class="">,</span>
    </div>
    <div class="m2">
        <span class="">templateUrl: </span>
        <span class="atv">'./app.component.html'</span>
        <span class="">,</span>
    </div>
    <div class="m2">
        <span class="">styleUrls: </span>
        <span class="">[ </span>
        <span class="atv">'./app.component.scss'</span>
        <span class=""> ]</span>
    </div>
    <div class="m1">
        <span class="">{{ '})' }}</span>
    </div>
</div>

<div>
    <div class="m1">
        <span class="pun">export </span>
        <span class="">class </span>
        <span class="rty">AppComponent </span>
        <span class="">implements </span>
        <span class="rty">OnInit </span>
        <span class="">{{ '{' }}</span>
    </div>
    <div class="code-annotation m2">
        // 畫面顯示的資料
    </div>
    <div class="m2">
        <span>public </span>
        <span>view: </span>
        <span class="rty">Observable</span>
        <span>
            <</span> <span class="rty">GridDataResult
        </span>
        <span>></span>
        <span>;</span>
    </div>
    <div class="code-annotation m2">
        // Angular的表單驗證設定參數
    </div>
    <div class="m2">
        <span>public </span>
        <span>formGroup: </span>
        <span class="rty">FormGroup</span>
        <span>;</span>
    </div>
    <div class="code-annotation m2">
        // 針對資料行為處理的邏輯服務提供者
    </div>
    <div class="m2">
        <span>private </span>
        <span>editService: </span>
        <span class="rty">EditService</span>
        <span>;</span>
    </div>
    <div class="code-annotation m2">
        // 紀錄正在編輯的資料行數
    </div>
    <div class="m2">
        <span>private </span>
        <span>editedRowIndex: </span>
        <span class="pun">number</span>
        <span>;</span>
    </div>
    <div class="code-annotation m2">
        // 提供 Grid 做狀態(排序、分頁、筆數)控制
    </div>
    <div>
        <div class="m2">
            <span class="">public </span>
            <span class="">gridState</span>
            <span class="">: </span>
            <span class="rty">State </span>
            <span class="">= </span>
            <span class="rty">{{ '{' }}</span>
        </div>
        <div class="m3">
            <span class="">sort</span>
            <span class="">: </span>
            <span class="atv">[ ] </span>
            <span class="">, </span>
        </div>
        <div class="m3">
            <span class="">skip</span>
            <span class="">: </span>
            <span class="atv">0 </span>
            <span class="">, </span>
        </div>
        <div class="m3">
            <span class="">take</span>
            <span class="">: </span>
            <span class="atv">10</span>
        </div>
        <div class="m2">
            <span class="rty">{{ '}' }}</span>
        </div>
    </div>

    <div class="code-annotation m2">
        // 於建構子將service注入
    </div>
    <div>
        <div class="m2">
            <span class="">constructor</span>
            <span class="">(@</span>
            <span class="rty">Inject</span>
            <span class="">(</span>
            <span class="rty">EditService</span>
            <span class="">) </span>
            <span class="">editServiceFactory</span>
            <span class="rty">: </span>
            <span class="pun">any </span>
            <span class="rty">{{ '{' }}</span>
        </div>
        <div class="m3">
            <span class="rty">this</span>
            <span class="rty">.</span>
            <span class="rty">editService </span>
            <span class="">= </span>
            <span class="rty">editServiceFactory</span>
            <span class="">();</span>
        </div>
        <div class="m2">
            <span class="rty">{{ '}' }}</span>
        </div>
    </div>
    <div>
        <div class="m2">
            <span class="">public </span>
            <span class="rty">ngOnInit</span>
            <span class="">()</span>
            <span class="">: </span>
            <span class="pun">void </span>
            <span class="">{{ '{' }}</span>
        </div>
        <div class="code-annotation m3">
            // 將view變數註冊pipe涵式，觀察資料的異動，並於畫面動態調整
        </div>
        <div class="m3">
            <span class="rty">this</span>
            <span class="">.</span>
            <span class="rty">view </span>
            <span class="">= </span>
            <span class="rty">this</span>
            <span class="">.</span>
            <span class="rty">editService</span>
            <span class="">.</span>
            <span class="rty">pipe</span>
            <span class="">(</span>
            <span class="rty">map</span>
            <span class="">(</span>
            <span class="">data </span>
            <span class="">=> </span>
            <span class="">process</span>
            <span class="rty">(</span>
            <span class="rty">data</span>
            <span class="">, </span>
            <span class="rty">this</span>
            <span class="">.</span>
            <span class="rty">gridState</span>
            <span class="">)));</span>
        </div>
        <div class="code-annotation m3">
            // 先讀取初始資料做畫面呈現
        </div>
        <div class="m3">
            <span class="rty">this</span>
            <span class="">.</span>
            <span class="rty">editService</span>
            <span class="">.</span>
            <span class="rty">read</span>
            <span class="">();</span>
        </div>
        <div class="m2">
            <span class="rty">{{ '}' }}</span>
        </div>
    </div>
    <div>
        <div class="m2">
            <span class="">public </span>
            <span class="rty">onStateChange</span>
            <span class="">(</span>
            <span class="">state</span>
            <span class="">: </span>
            <span class="rty">State</span>
            <span class="">) </span>
            <span class="">{{ '{' }}</span>
        </div>
        <div class="code-annotation m3">
            // 將 Grid 回饋的狀態，拿來更新內部的gridState
        </div>
        <div class="m3">
            <span class="rty">this</span>
            <span class="">.</span>
            <span class="rty">gridState </span>
            <span class="">= </span>
            <span class="rty">state</span>
            <span class="">;</span>
        </div>
        <div class="code-annotation m3">
            // 更新完最新的 Grid 狀態後，重新讀取資料
        </div>
        <div class="m3">
            <span class="rty">this</span>
            <span class="">.</span>
            <span class="rty">editService</span>
            <span class="">.</span>
            <span class="rty">read</span>
            <span class="">();</span>
        </div>
        <div class="m2">
            <span class="rty">{{ '}' }}</span>
        </div>
    </div>
    <div>
        <div class="m2">
            <span class="">public </span>
            <span class="rty">addHandler</span>
            <span class="">{{ '({ sender })' }}</span>
            <span class="">{{ '{' }}</span>
        </div>
        <div class="code-annotation m3">
            // 將編輯中的資料關閉
        </div>
        <div class="m3">
            <span class="rty">this</span>
            <span class="">.</span>
            <span class="rty">closeEditor</span>
            <span class="">(</span>
            <span class="rty">sender</span>
            <span class="">);</span>
        </div>
        <div class="code-annotation m3">
            // 建立Form驗證
        </div>
        <div class="m3">
            <span class="rty">this</span>
            <span class="">.</span>
            <span class="rty">formGroup </span>
            <span class="">= </span>
            <span class="pun">new </span>
            <span class="rty">FormGroup</span>
            <span class="">{{ '({' }}</span>
        </div>
        <div class="m4">
            <span class="">'</span>
            <span class="pop">ProductID</span>
            <span class="">': </span>
            <span class="pun">new </span>
            <span class="rty">FormControl</span>
            <span class="">()</span>
            <span class="">,</span>
        </div>
        <div class="m4">
            <span class="">'</span>
            <span class="pop">ProductName</span>
            <span class="">': </span>
            <span class="pun">new </span>
            <span class="rty">FormControl</span>
            <span class="">('', </span>
            <span class="rty">Validators.required</span>
            <span class="">),</span>
        </div>
        <div class="m4">
            <span class="">'</span>
            <span class="pop">UnitPrice</span>
            <span class="">': </span>
            <span class="pun">new </span>
            <span class="rty">FormControl</span>
            <span class="">(</span>
            <span class="atv">0</span>
            <span class="">),</span>
        </div>
        <div class="m4">
            <span class="">'</span>
            <span class="pop">UnitsInStock</span>
            <span class="">': </span>
            <span class="pun">new </span>
            <span class="rty">FormControl</span>
            <span class="">('', </span>
            <span class="rty">Validators.compose</span>
            <span class="">([</span>
            <span class="rty">Validators.required</span>
            <span class="">, </span>
            <span class="rty">Validators.pattern</span>
            <span class="">('</span>
            <span class="pop">{{ '^[0-9]{1,3}' }}</span>
            <span class="">')])),</span>
        </div>
        <div class="m4">
            <span class="">'</span>
            <span class="pop">Discontinued</span>
            <span class="">': </span>
            <span class="pun">new </span>
            <span class="rty">FormControl</span>
            <span class="">(</span>
            <span class="atv">false</span>
        </div>
        <div class="m3">
            <span class="rty">{{ '});' }}</span>
        </div>
        <div class="code-annotation m3">
            // 把設定好的Form驗證加入到新一列中
        </div>
        <div class="m3">
            <span class="rty">sender</span>
            <span class="">.</span>
            <span class="rty">addRow</span>
            <span class="">(</span>
            <span class="">this</span>
            <span class="">.</span>
            <span class="">formGroup</span>
            <span class="">)</span>
            <span class="">;</span>
        </div>
        <div class="m2">
            <span class="rty">{{ '}' }}</span>
        </div>
    </div>
    <div>
        <div class="m2">
            <span class="">public </span>
            <span class="rty">editHandler</span>
            <span class="">{{ '({ sender, rowIndex, dataItem })' }}</span>
            <span class="">{{ '{' }}</span>
        </div>
        <div class="code-annotation m3">
            // 將編輯中的資料關閉
        </div>
        <div class="m3">
            <span class="rty">this</span>
            <span class="">.</span>
            <span class="rty">closeEditor</span>
            <span class="">(</span>
            <span class="rty">sender</span>
            <span class="">);</span>
        </div>
        <div class="code-annotation m3">
            // 建立Form驗證
        </div>
        <div class="m3">
            <span class="rty">this</span>
            <span class="">.</span>
            <span class="rty">formGroup </span>
            <span class="">= </span>
            <span class="pun">new </span>
            <span class="rty">FormGroup</span>
            <span class="">{{ '({' }}</span>
        </div>
        <div class="m4">
            <span class="">'</span>
            <span class="pop">ProductID</span>
            <span class="">': </span>
            <span class="pun">new </span>
            <span class="rty">FormControl</span>
            <span class="">(</span>
            <span class="rty">dataItem.ProductID</span>
            <span class="">)</span>
            <span class="">,</span>
        </div>
        <div class="m4">
            <span class="">'</span>
            <span class="pop">ProductName</span>
            <span class="">': </span>
            <span class="pun">new </span>
            <span class="rty">FormControl</span>
            <span class="">( </span>
            <span class="rty">dataItem.ProductName</span>
            <span class="">, </span>
            <span class="rty">Validators.required</span>
            <span class="">),</span>
        </div>
        <div class="m4">
            <span class="">'</span>
            <span class="pop">UnitPrice</span>
            <span class="">': </span>
            <span class="pun">new </span>
            <span class="rty">FormControl</span>
            <span class="">(</span>
            <span class="rty">dataItem.UnitPrice</span>
            <span class="">),</span>
        </div>
        <div class="m4">
            <span class="">'</span>
            <span class="pop">UnitsInStock</span>
            <span class="">': </span>
            <span class="pun">new </span>
            <span class="rty">FormControl</span>
            <span class="">(</span>
            <span class="rty">dataItem.UnitsInStock</span>
            <span class="">, </span>
            <span class="rty">Validators.compose</span>
            <span class="">([</span>
            <span class="rty">Validators.required</span>
            <span class="">, </span>
            <span class="rty">Validators.pattern</span>
            <span class="">('</span>
            <span class="pop">{{ '^[0-9]{1,3}' }}</span>
            <span class="">')])),</span>
        </div>
        <div class="m4">
            <span class="">'</span>
            <span class="pop">Discontinued</span>
            <span class="">': </span>
            <span class="pun">new </span>
            <span class="rty">FormControl</span>
            <span class="">(</span>
            <span class="rty">dataItem.Discontinued</span>
        </div>
        <div class="m3">
            <span class="rty">{{ '});' }}</span>
        </div>
        <div class="code-annotation m3">
            // 把設定好的Form驗證加入到新列中
        </div>
        <div class="m3">
            <span class="rty">sender</span>
            <span class="">.</span>
            <span class="rty">addRow</span>
            <span class="">(</span>
            <span class="">this</span>
            <span class="">.</span>
            <span class="">formGroup</span>
            <span class="">)</span>
            <span class="">;</span>
        </div>
        <div class="m2">
            <span class="rty">{{ '}' }}</span>
        </div>
    </div>
    <div>
        <div class="m2">
            <span class="">public </span>
            <span class="rty">cancelHandler</span>
            <span class="">{{ '({ sender, rowIndex })' }}</span>
            <span class="">{{ '{' }}</span>
        </div>
        <div class="code-annotation m3">
            // 將編輯中的資料關閉
        </div>
        <div class="m3">
            <span class="rty">this</span>
            <span class="">.</span>
            <span class="rty">closeEditor</span>
            <span class="">(</span>
            <span class="rty">sender, rowIndex</span>
            <span class="">);</span>
        </div>
        <div class="m2">
            <span class="rty">{{ '}' }}</span>
        </div>
    </div>
    <div>
        <div class="m2">
            <span class="">public </span>
            <span class="rty">saveHandler</span>
            <span class="">{{ '({ sender, rowIndex, formGroup, isNew })' }}</span>
            <span class="">{{ '{' }}</span>
        </div>
        <div class="m3">
            <span class="">const </span>
            <span class="rty">product</span>
            <span class="">: </span>
            <span class="rty">Product </span>
            <span class="">= </span>
            <span class="rty">formGroup</span>
            <span class="">.value;</span>
        </div>
        <div class="m3">
            <span class="rty">this</span>
            <span class="">.</span>
            <span class="rty">editService</span>
            <span class="">.</span>
            <span class="rty">save</span>
            <span class="">(</span>
            <span class="rty">dataItem</span>
            <span class="">, </span>
            <span class="rty">isNew</span>
            <span class="">);</span>
        </div>
        <div class="code-annotation m3">
            // 存檔後，通知Grid關閉編輯模式
        </div>
        <div class="m3">
            <span class="rty">sender</span>
            <span class="">.</span>
            <span class="rty">closeRow</span>
            <span class="">(</span>
            <span class="rty">rowIndex</span>
            <span class="">);</span>
        </div>
        <div class="m2">
            <span class="rty">{{ '}' }}</span>
        </div>
    </div>
    <div>
        <div class="m2">
            <span class="">public </span>
            <span class="rty">removeHandler</span>
            <span class="">{{ '({ dataItem })' }}</span>
            <span class="">{{ '{' }}</span>
        </div>
        <div class="m3">
            <span class="rty">this</span>
            <span class="">.</span>
            <span class="rty">editService</span>
            <span class="">.</span>
            <span class="rty">remove</span>
            <span class="">(</span>
            <span class="rty">dataItem</span>
            <span class="">);</span>
        </div>
        <div class="m2">
            <span class="rty">{{ '}' }}</span>
        </div>
    </div>
    <div>
            <div class="m2">
                <span class="">private </span>
                <span class="rty">closeEditor</span>
                <span class="">(grid, rowIndex = </span>
                <span class="rty">this</span>
                <span class="rty">.</span>
                <span class="rty">editedRowIndex</span>
                <span class="rty">)</span>
                <span class="">{{ '{' }}</span>
            </div>
            <div class="m3">
                <span class="rty">grid</span>
                <span class="">.</span>
                <span class="rty">closeRow</span>
                <span class="">(</span>
                <span class="rty">rowIndex</span>
                <span class="">);</span>
            </div>
            <div class="m3">
                <span class="rty">this</span>
                <span class="">.</span>
                <span class="rty">editedRowIndex </span>
                <span class="">= </span>
                <span class="pun">undefined</span>
                <span class="">;</span>
            </div>
            <div class="m3">
                <span class="rty">this</span>
                <span class="">.</span>
                <span class="rty">formGroup </span>
                <span class="">= </span>
                <span class="pun">undefined</span>
                <span class="">;</span>
            </div>
            <div class="m2">
                <span class="rty">{{ '}' }}</span>
            </div>
        </div>
    <div class="m1">
        <span class="">{{ '}' }}</span>
    </div>
</div>