<h3>
    事前準備
</h3>

<h4>
    這邊假設已經準備好
    <a href="https://angular.io/guide/setup-local" target="blank"> Angular</a>
    開發環境 v6以上
    <br />
    1. ng new kendo-angular-scheduler
    <br />
    2. cd kendo-angular-scheduler
    <br />
    3. ng add @progress/kendo-angular-scheduler
</h4>

<h3>
    完整代碼
</h3>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="app.component.ts">
            <app-ts></app-ts>
        </mat-tab>
        <mat-tab label="app.component.html">
            <app-html></app-html>
        </mat-tab>

        <mat-tab label="app.module.ts">
            <app-module></app-module>
        </mat-tab>
    </mat-tab-group>
</mat-card>