<div class="m1">
    <span class="">
        <</span> <span class="tag">kendo-scheduler
    </span>
    <span class="">[</span>
    <span class="atn">kendoSchedulerBinding</span>
    <span class="">]</span>
    <span class="">=</span>
    <span class="">"</span>
    <span class="atv">events</span>
    <span class="">" </span>
    <span class="">[</span>
    <span class="atn">kendoSchedulerReactiveEditing</span>
    <span class="">]</span>
    <span class="">=</span>
    <span class="">"</span>
    <span class="atv">createFormGroup</span>
    <span class="">" </span>
    <span class="">[</span>
    <span class="atn">selectedDate</span>
    <span class="">]</span>
    <span class="">=</span>
    <span class="">"</span>
    <span class="atv">selectedDate</span>
    <span class="">" </span>
    <span class="atn">style</span>
    <span class="">=</span>
    <span class="">"</span>
    <span class="atv">height</span>
    <span class="">:</span>
    <span class="atv">600px</span>
    <span class="">;</span>
    <span class="">"</span>
    <span class="">></span>
</div>
<div class="m2">
    <span class="">
        <</span> <span class="tag">kendo-scheduler-week-view
    </span>
    <span class="atn">startTime</span>
    <span class="">=</span>
    <span class="">"</span>
    <span class="atv">07:00</span>
    <span class="">"</span>
    <span class="">></span>

    <span class="">
        <</span> <span class="">/
    </span>
    <span class="tag">kendo-scheduler-week-view</span>
    <span class="">></span>
</div>
<div class="m2">
    <span class="">
        <</span> <span class="tag">kendo-scheduler-month-view
    </span>
    <span class="">></span>

    <span class="">
        <</span> <span class="">/
    </span>
    <span class="tag">kendo-scheduler-month-view</span>
    <span class="">></span>
</div>
<div class="m2">
    <span class="">
        <</span> <span class="tag">kendo-scheduler-timeline-view
    </span>
    <span class="">></span>

    <span class="">
        <</span> <span class="">/
    </span>
    <span class="tag">kendo-scheduler-timeline-view</span>
    <span class="">></span>
</div>
<div class="m2">
    <span class="">
        <</span> <span class="tag">kendo-scheduler-day-view
    </span>
    <span class="">></span>

    <span class="">
        <</span> <span class="">/
    </span>
    <span class="tag">kendo-scheduler-day-view</span>
    <span class="">></span>
</div>
<div class="m2">
    <span class="">
        <</span> <span class="tag">kendo-scheduler-agenda-view
    </span>
    <span class="">></span>

    <span class="">
        <</span> <span class="">/
    </span>
    <span class="tag">kendo-scheduler-agenda-view</span>
    <span class="">></span>
</div>
<div class="m1">
    <span class="">
        <</span> <span class="">/
    </span>
    <span class="tag">kendo-scheduler</span>
    <span class="">></span>
</div>