<div>
    <div class="m1">
        <span class="pun">import </span>
        <span class="">{{ '{' }} </span>
        <span class="rty">Component </span>
        <span class="">{{ '}' }} </span>
        <span class="pun">from </span>
        <span class="atv">'@angular/core'</span>
        <span class="">;</span>
    </div>
    <div class="m1">
        <span class="pun">import </span>
        <span class="">{{ '{' }} </span>
        <span class="rty">SchedulerEvent</span>
        <span class="">, </span>
        <span class="rty">CreateFormGroupArgs</span>
        <span class="">{{ '}' }} </span>
        <span class="pun">from </span>
        <span class="atv">'@progress/kendo-angular-scheduler'</span>
        <span class="">;</span>
    </div>
    <div class="m1">
        <span class="pun">import </span>
        <span class="">{{ '{' }} </span>
        <span class="rty">FormGroup</span>
        <span class="">, </span>
        <span class="rty">FormBuilder</span>
        <span class="">, </span>
        <span class="rty">Validators</span>
        <span class="">, </span>
        <span class="rty">ValidatorFn</span>
        <span class="">{{ '}' }} </span>
        <span class="pun">from </span>
        <span class="atv">'@angular/forms'</span>
        <span class="">;</span>
    </div>
    <div class="m1">
        <span class="pun">import </span>
        <span class="atv">'@progress/kendo-date-math/tz/regions/Europe'</span>
        <span class="">;</span>
    </div>
    <div class="m1">
        <span class="pun">import </span>
        <span class="atv">'@progress/kendo-date-math/tz/regions/NorthAmerica'</span>
        <span class="">;</span>
    </div>
    <div>
        <div class="m1">
            <span class="">@</span>
            <span class="rty">Component</span>
            <span class="">{{ '({' }}</span>
        </div>
        <div class="m2">
            <span class="">selector: </span>
            <span class="atv">'app-root'</span>
            <span class="">,</span>
        </div>
        <div class="m2">
            <span class="">templateUrl: </span>
            <span class="atv">'./app.component.html'</span>
            <span class="">,</span>
        </div>
        <div class="m2">
            <span class="">styleUrls: </span>
            <span class="">[ </span>
            <span class="atv">'./app.component.scss'</span>
            <span class=""> ]</span>
        </div>
        <div class="m1">
            <span class="">{{ '})' }}</span>
        </div>
        <div>
            <div class="m1">
                <span class="pun">export </span>
                <span class="">class </span>
                <span class="rty">AppComponent </span>
                <span class="">implements </span>
                <span class="rty">OnInit </span>
                <span class="">{{ '{' }}</span>
            </div>
            <div>
                <div class="code-annotation m2">
                    // 初始化日期
                </div>
                <div class="m2">
                    <span>public </span>
                    <span>selectedDate: </span>
                    <span class="rty">Date </span>
                    <span class="rty">= </span>
                    <span class="pun">new </span>
                    <span class="rty">Date</span>
                    <span class="rty">(</span>
                    <span class="pop">'2018-10-22T00:00:00'</span>
                    <span class="rty">);</span>
                </div>
            </div>
            <div class="m1">
                <span class="">{{ '}' }}</span>
            </div>
        </div>
    </div>

</div>