<div class="m1">
  <span class="atn">myFilter</span>
  <span class="">: </span>
  <span class="">{{ "{" }} </span>
</div>
<div class="m2">
  <span class="atn">logic</span>
  <span class="">: </span>
  <span class="atv">'and'</span>
</div>
<div class="m2">
  <span class="atn">filters</span>
  <span class="">: </span>
  <span class="">{{ "[{" }}</span>
</div>
<div class="m3">
  <span class="atn">field</span>
  <span class="">: </span>
  <span class="atv">'ProductName'</span>
</div>
<div class="m3">
  <span class="atn">operator</span>
  <span class="">: </span>
  <span class="atv">'contains'</span>
</div>
<div class="m3">
  <span class="atn">value</span>
  <span class="">: </span>
  <span class="atv">'Chef'</span>
</div>
<div class="m2">
  <span class="">{{ "}]" }}</span>
</div>
<div class="m1">
  <span class="">{{ "}" }}</span>
</div>
