h1,
h3 {
    margin-left: 2%;
}

h4 {
    margin-left: 4%;
}

.img-card {
    margin-left: 10%;
}
code{
    font-size: 87.5%;
    color: #e83e8c;
    word-break: break-word;
    border: 1px solid #e4e4e4;
    padding: 0 5px 1px;
    background-color: #fcfcfc;
    text-transform: none;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    line-height: 1.4em;
    letter-spacing: -0.04em;
}