<div style="margin-bottom: 3%">
  <h3>Dropdowns - 下拉選單</h3>
    <h4>1. 自動搜尋選單 - AutoComplete</h4>
    <h4>
        - 用於初始顯示的提示 <code>:placeholder</code>
        <br>
        - 用於分隔多個值的字符 <code>:separator</code>
        <br>
        - 用於確定當前值建議的過濾方法 <code>:filter</code>
        <br>
        - 更多其他的設定可以參考
        <a target="blank" href="https://www.telerik.com/kendo-vue-ui/components/dropdowns-wrapper/autocomplete/">這裡</a>
    </h4>
    <mat-card class="source-code-tab-card">
        <mat-tab-group class="tab-source-code-background">
            <mat-tab label="示例圖">
                <img width="90%" src="assets/vue/form/dropdowns/AutoComplete_view.png" />
            </mat-tab>
            <mat-tab label="HTML">
                <img width="60%" src="assets/vue/form/dropdowns/AutoComplete_html.png" />
            </mat-tab>
        </mat-tab-group>
    </mat-card>
    <h4>2. 單一項目選單 - ComboBox</h4>
    <h4>
        - 用於確定當前值建議的過濾方法 <code>:filter</code>
        <br>
        - 最初選擇的項目的索引 <code>:index</code>
        <br>
        - 更多其他的設定可以參考
        <a target="blank" href="https://www.telerik.com/kendo-vue-ui/components/dropdowns-wrapper/combobox/">這裡</a>
    </h4>
    <mat-card class="source-code-tab-card">
        <mat-tab-group class="tab-source-code-background">
            <mat-tab label="示例圖">
                <img width="90%" src="assets/vue/form/dropdowns/ComboBox_view.png" />
            </mat-tab>
            <mat-tab label="HTML">
                <img width="60%" src="assets/vue/form/dropdowns/ComboBox_html.png" />
            </mat-tab>
        </mat-tab-group>
    </mat-card>
    <h4>3. 下拉列表 - DropDownList</h4>
    <h4>
        - 數據項的字段，用於提供列表項的文本內容 <code>:index</code>
        <br>
        - 更多其他的設定可以參考
        <a target="blank" href="https://www.telerik.com/kendo-vue-ui/components/dropdowns-wrapper/dropdownlist/">這裡</a>
    </h4>
    <mat-card class="source-code-tab-card">
        <mat-tab-group class="tab-source-code-background">
            <mat-tab label="示例圖">
                <img width="90%" src="assets/vue/form/dropdowns/DropDownList_view.png" />
            </mat-tab>
            <mat-tab label="HTML">
                <img width="60%" src="assets/vue/form/dropdowns/DropDownList_html.png" />
            </mat-tab>
        </mat-tab-group>
    </mat-card>
    <h4>4. 多列組合框 - MultiColumnComboBox</h4>
    <h4>
        - 定義在多列組合框的表中呈現的列 <code>:column</code>
        <br>
        - 啟用多列過濾 <code>:filter-fields</code>
        <br>
        - 更多其他的設定可以參考
        <a target="blank" href="https://www.telerik.com/kendo-vue-ui/components/dropdowns-wrapper/multicolumncombobox/">這裡</a>
    </h4>
    <mat-card class="source-code-tab-card">
        <mat-tab-group class="tab-source-code-background">
            <mat-tab label="示例圖">
                <img width="90%" src="assets/vue/form/dropdowns/MultiColumnComboBox_view.png" />
            </mat-tab>
            <mat-tab label="HTML">
                <img width="60%" src="assets/vue/form/dropdowns/MultiColumnComboBox_html.png" />
            </mat-tab>
        </mat-tab-group>
    </mat-card>
    <h4>5.多選擇單 - MultiSelect</h4>
    <h4>
        - 用於確定當前值建議的過濾方法 <code>:filter</code>
        <br>
        - 更多其他的設定可以參考
        <a target="blank" href="https://www.telerik.com/kendo-vue-ui/components/dropdowns-wrapper/multiselect/">這裡</a>
    </h4>
    <mat-card class="source-code-tab-card">
        <mat-tab-group class="tab-source-code-background">
            <mat-tab label="示例圖">
                <img width="90%" src="assets/vue/form/dropdowns/MultiSelect_view.png" />
            </mat-tab>
            <mat-tab label="HTML">
                <img width="60%" src="assets/vue/form/dropdowns/MultiSelect_html.png" />
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
