<h3>Dropdowns - 下拉選單</h3>
<h4>自動搜尋選單 - AutoComplete</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/dropdowns/AutoComplete_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/dropdowns/AutoComplete_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
<h4>單一項目選單 - ComboBox</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/dropdowns/ComboBox_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/dropdowns/ComboBox_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
<h4>下拉列表 - DropDownList</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/dropdowns/DropDownList_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/dropdowns/DropDownList_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
<h4>多列組合框 - MultiSelect</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/dropdowns/MultiSelect_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/dropdowns/MultiSelect_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
<h4>多列組合框 - MultiColumnComboBox</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/dropdowns/MultiColumnComboBox_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/dropdowns/MultiColumnComboBox_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>