<h3>
    事前準備
</h3>

<h4>
    這邊假設已經準備好
    <a href="https://angular.io/guide/setup-local" style="text-decoration:none;" target="blank"> Angular</a>
    開發環境 v6以上
    <br />
    1. ng new kendo-angular-inputs
    <br />
    2. cd kendo-angular-inputs
    <br />
    3. ng add @progress/kendo-angular-inputs
    <br>
    4. 請先下載完整範例程式碼
    <a target="blank" style="text-decoration:none;" href="https://github.com/AccesssoftTW/kendo-angular-input">
        Github
    </a>
</h4>
<h3>
    文字輸入 - Textbox
</h3>
<h4>
    - 設定文字框上方的標題文字 <code>floatingLabel="First name"</code>
    <br>
    - 更多其他的設定可以參考
    <a target="blank" href="https://www.telerik.com/kendo-angular-ui/components/inputs/textbox/">這裡</a>
</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="HTML">
            <img width="60%" src="assets/inputs/kendo-angular-textbox.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>

<h3>
    數字 - Numeric Textbox
</h3>
<h4>
    - 設定每次遞增/減的間隔 <code>[step]="5"</code>
    <br>
    - 預設會顯示遞增/減的按鈕，也可以將其關閉 <code>[spinners]="false"</code>
    <br>
    - 預設的數字格式為 n2，也可以根據需求顯示其他格式 <code>[format]="'c0'"</code>，更多格式設定可以參考
    <a target="blank" href="https://github.com/telerik/kendo-intl/blob/master/docs/num-formatting/index.md">這裡</a>
    <br>
    - 更多其他的設定可以參考
    <a target="blank" href="https://www.telerik.com/kendo-angular-ui/components/inputs/numerictextbox/">這裡</a>
</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="HTML">
            <img width="80%" src="assets/inputs/kendo-angular-inputs-numeric.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>

<h3>
    遮罩 - MaskedTextbox
</h3>

<h4>
    <span class="atv">0</span>
    <span> —必填數值 (0-9).</span>
    <br>
    <span class="atv">9</span>
    <span> —必填數值 (0-9) 或空白.</span>
    <br>
    <span class="atv">#</span>
    <span> —必填數值 (0-9) 或空白、符號 (+、-).</span>
    <br>
    <span class="atv">L</span>
    <span> —必填文字 (a-Z).</span>
    <br>
    <span class="atv">?</span>
    <span> —必填文字 (a-Z) or 或空白.</span>
    <br>
    <span class="atv">A</span>
    <span> —必填字母、數字 (0-9, a-Z).</span>
    <br>
    <span class="atv">a</span>
    <span> —必填字母、數字 (0-9, a-Z) 或空白.</span>
    <br>
    <span class="atv">&</span>
    <span> —必填文字，除了空白.</span>
    <br>
    <span class="atv">C</span>
    <span> —必填文字.</span>
    <br>
    <br>
    - 如果有客製化的需要，可以依 Kendo 的格式建立遮罩，並提供給 <code>rules</code> 的 input 屬性
    <br>
    - 預設會開啟驗證模式(Validation)，可以設置 <code>maskValidation</code> 為 false 關閉
    <br>
    - 可以搭配
    <a target="blank" href="https://angular.io/guide/form-validation">Form Validation</a>
    一起使用
</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="HTML">
            <img width="90%" src="assets/inputs/kendo-angular-masktextbox-html.png" />
        </mat-tab>
        <mat-tab label="TS">
            <img width="70%" src="assets/inputs/kendo-angular-masktextbox-ts.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>

<h3>
    開關 - Switch
</h3>
<h4>
    - 設定開/關的文字 <code>[onLabel]="'I'" [offLabel]="'O'"</code>
    <br>
    - 更多其他的設定可以參考
    <a target="blank" href="https://www.telerik.com/kendo-angular-ui/components/inputs/switch/">這裡</a>
</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="HTML">
            <img width="80%" src="assets/inputs/kendo-angular-switch.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>

<h3>
    滑動軸 - Slider
</h3>
<h4>
    - 設定最大值、最小值、每次移動間格數 <code>[max]="100" [min]="0" [smallStep]="10" [largeStep]="20"</code>
    <br>
    - 預設會顯示遞增/減的按鈕，也可以將其關閉 <code>[showButtons]="false"</code>
    <br>
    - 設定按鈕的標題提示 <code>[incrementTitle]="'增加'" [decrementTitle]="'減少'"</code>
    <br>
    - 預設為水平顯示，也可以控制為垂直顯示 <code>[vertical]="true"</code>
    <br>
    - 更多其他的設定可以參考
    <a target="blank" href="https://www.telerik.com/kendo-angular-ui/components/inputs/slider/">這裡</a>
</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="HTML">
            <img width="80%" src="assets/inputs/kendo-angular-slider.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>

<h3>
    想了解更多可以洽
    <a target="blank" style="text-decoration:none;" href="https://www.telerik.com/kendo-angular-ui/components/scheduler/templates/">
        群昱資訊
    </a>
</h3>