<h3>
    事前準備
</h3>

<h4>
    這邊假設已經準備好
    <a href="https://vuejs.org/v2/guide/installation.html" style="text-decoration:none;" target="blank"> Vue</a>
    開發環境 3.x版以上
    <br />
    1. vue create kendo-vue-form
    <br />
    2. cd kendo-vue-form
    <br />
    3. npm install --save @progress/kendo-ui
    <br />
    4. npm install --save @progress/kendo-theme-default
    <br />
    5. npm install --save @progress/kendo-inputs-vue-wrapper
    <br>
    6. npm install --save @progress/kendo-dateinputs-vue-wrapper
    <br>
    7. npm install --save @progress/kendo-dropdowns-vue-wrapper
    <br>
    8. npm install --save @progress/kendo-upload-vue-wrapper
    <br>
    9. 請先下載完整範例程式碼
    <a target="blank" style="text-decoration:none;" href="https://github.com/AccesssoftTW/kendo-vue-form">
        Github
    </a>
</h4>

<app-inputs></app-inputs>
<app-dropdown></app-dropdown>
<app-date-inputs></app-date-inputs>
<app-upload></app-upload>
