<h3>輸入 - Inputs</h3>
<h4>選擇顏色 - ColorPicker</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/inputs/ColorPicker_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/inputs/ColorPicker_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
<h4>電話輸入 - MaskedTextbox</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/inputs/MaskedTextbox_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/inputs/MaskedTextbox_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
<h4>開關 - Switch</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/inputs/Switch_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/inputs/Switch_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
<h4>數字調整 - NumericTextBox</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/inputs/NumericTextBox_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/inputs/NumericTextBox_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
<h4>滑動調整 - Slider</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/inputs/Slider_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/inputs/Slider_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
<h4>間距滑動調整 - RangeSlider</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/inputs/RangeSlider_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/inputs/RangeSlider_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>