<h3>
    事前準備
</h3>

<h4>
    這邊假設已經準備好
    <a href="https://angular.io/guide/setup-local" style="text-decoration:none;" target="blank"> Angular</a>
    開發環境 v6以上
    <br />
    1. ng new kendo-angular-charts
    <br />
    2. cd kendo-angular-charts
    <br />
    3. ng add @progress/kendo-angular-charts
    <br>
    4. 請先下載完整範例程式碼
    <a target="blank" style="text-decoration:none;" href="https://github.com/AccesssoftTW/kendo-angular-input">
        Github
    </a>
</h4>

<h3>
    示例圖
</h3>

<div>
    <img width="60%" src="assets/chart/chart-category.png" />
</div>

<h3>
    折線圖為例
</h3>
<h4>
    - kendo-chart 為主要的 Component
    <br>
    - kendo-chart-title、kendo-chart-legend...等等，為 SubComponent，依需求加入
    <br>
    - kendo-chart-series 規劃線圖的呈現方式
</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="成品">
            <img width="80%" src="assets/chart/angular-chart.png" />
        </mat-tab>
        <mat-tab label="程式">
            <img width="90%" src="assets/chart/angular-chart-html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>