<div class="m1">
    <span class="atn">mySorter</span>
    <span class="">: </span>
    <span class="">{{ "{" }} </span>
</div>
<div class="m2">
    <span class="atn">allowUnsort</span>
    <span class="">: </span>
    <span class="atv">true</span>
</div>
<div class="m2">
    <span class="atn">mode</span>
    <span class="">: </span>
    <span class="atv">'multiple'</span>
</div>
<div class="code-annotation m2">
    // mode: 'single'
</div>
<div class="m1">
    <span class="">{{ "}" }}</span>
</div>
<div class="m1">
    <span class="atn">sort</span>
    <span class="">: </span>
    <span class="tag">SortDescriptor</span>
    <span class="">[] </span>
    <span class="">= </span>
    <span class="">{{ "[{" }} </span>
</div>
<div class="m2">
    <span class="atn">field</span>
    <span class="">: </span>
    <span class="">'</span>
    <span class="atv">ProductName</span>
    <span class="">'</span>
</div>
<div class="m2">
    <span class="atn">dir</span>
    <span class="">: </span>
    <span class="">'</span>
    <span class="atv">asc</span>
    <span class="">'</span>
</div>
<div class="m1">
    <span class="">{{ "}];" }}</span>
</div>

<!-- public sort: SortDescriptor[] = [{
    field: 'ProductName',
    dir: 'asc'
  }]; -->