<h3>
    匯出PDF/Excel - Export Options
</h3>
<h4>
    - 可簡單設定參數來匯出Excel、PDF
    <br>
    - 更多Excel說明，請參考
    <a target="blank" style="text-decoration:none;" href="https://www.telerik.com/kendo-vue-ui/components/grid/export/excel-export/">
        這裡
    </a>
    <br>
    - 更多PDF說明，請參考
    <a target="blank" style="text-decoration:none;" href="https://www.telerik.com/kendo-vue-ui/components/grid/export/pdf-export/">
        這裡
    </a>
    <br>
</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img class="img-card" width="80%" src="assets/vue/grid/export-demo.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img class="img-card" width="60%" src="assets/vue/grid/export-prop.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
