<h3>Upload - 資料上傳</h3>
<h4>上傳PDF - UploadPDF</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/upload/UploadPDF_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/upload/UploadPDF_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
<h4>上傳Image - UploadImage</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/upload/UploadImage_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/upload/UploadImage_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
<h4>上傳限制檔案大小 - UploadDocuments</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/upload/UploadDocuments_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/upload/UploadDocuments_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
<h4>上傳目錄 - UploadDirectory</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img width="90%" src="assets/vue/form/upload/UploadDirectory_view.png" />
        </mat-tab>
        <mat-tab label="HTML">
            <img width="60%" src="assets/vue/form/upload/UploadDirectory_html.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>