<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ "{" }} </span>
    <span class="rty">BrowserModule </span>
    <span class="">{{ "}" }} </span>
    <span class="pun">from </span>
    <span class="atv">'@angular/platform-browser'</span>
    <span class="">;</span>
</div>
<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ "{" }} </span>
    <span class="rty">NgModule </span>
    <span class="">{{ "}" }} </span>
    <span class="pun">from </span>
    <span class="atv">'@angular/core'</span>
    <span class="">;</span>
</div>
<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ "{" }} </span>
    <span class="rty">AppComponent </span>
    <span class="">{{ "}" }} </span>
    <span class="pun">from </span>
    <span class="atv">'./app.component'</span>
    <span class="">;</span>
</div>
<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ "{" }} </span>
    <span class="rty">SchedulerModule</span>
    <span class="">{{ "}" }} </span>
    <span class="pun">from </span>
    <span class="atv">'@progress/kendo-angular-scheduler'</span>
    <span class="">;</span>
</div>
<div class="m1">
    <span class="pun">import </span>
    <span class="">{{ "{" }} </span>
    <span class="rty">BrowserAnimationsModule </span>
    <span class="">{{ "}" }} </span>
    <span class="pun">from </span>
    <span class="atv">'@angular/platform-browser/animations'</span>
    <span class="">;</span>
</div>
<div>
    <div class="m1">
        <span class="">@</span>
        <span class="rty">NgModule</span>
        <span class="">{{ "({" }}</span>
    </div>
    <div class="m2">
        <div>
            <span class="">declarations: [</span>
        </div>
        <div class="m1">
            <span class="rty">AppComponent</span>
        </div>
        <div>
            <span class="">],</span>
        </div>
    </div>
    <div class="m2">
        <div>
            <span class="">imports: [</span>
        </div>
        <div class="m1">
            <span class="rty">BrowserModule</span>
            <span class="">,</span>
        </div>
        <div class="m1">
            <span class="rty">SchedulerModule</span>
            <span class="">,</span>
        </div>
        <div class="m1">
            <span class="rty">BrowserAnimationsModule</span>
        </div>
        <div>
            <span class="">],</span>
        </div>
    </div>
    <div class="m2">
        <div>
            <span class="">providers: [],</span>
        </div>
    </div>
    <div class="m2">
        <div>
            <span class="">bootstrap: [</span>
        </div>
        <div class="m1">
            <span class="rty">AppComponent</span>
        </div>
        <div>
            <span class="">],</span>
        </div>
    </div>
    <div class="m1">
        <span class="">{{ "})" }}</span>
    </div>
</div>
<div class="m1">
    <span class="pun">export </span>
    <span class="">class </span>
    <span class="rty">AppModule </span>
    <span class="">{{ "{ }" }}</span>
</div>