<h3>
    分頁 - Paging
</h3>
<h4>
    - 添加 <code>pageable</code> 屬性並設為 <code>true</code> ，最下方會顯示所設定的分頁樣式。
    <br>
    - 添加其他屬性
    <ul>
        <li>
            <code>pageable-page-size</code> 屬性並設為 <code>true</code> 或 <code>[5, 10, 20, 100]</code> ，可選擇要顯示的資料筆數。
        </li>
        <li>
            <code>pageable-button-count</code> 屬性並設為 <code>任意數字</code> ，可顯示分頁按鈕上限。
        </li>
    </ul>
    <br>
    - 更多說明，請參考
    <a target="blank" style="text-decoration:none;" href="https://www.telerik.com/kendo-vue-ui/components/grid/paging/">
        這裡
    </a>
    <br>
</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img class="img-card" width="80%" src="assets/vue/grid/page-demo.png" />
        </mat-tab>
        <mat-tab label="HTML-1">
            <img class="img-card" width="60%" src="assets/vue/grid/page-prop.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
