<h3>
    事前準備
</h3>

<h4>
    這邊假設已經準備好
    <a href="https://vuejs.org/v2/guide/installation.html" style="text-decoration:none;" target="blank"> Vue</a>
    開發環境 3.x版以上
    <br />
    1. vue create kendo-vue-grid
    <br />
    2. cd kendo-vue-grid
    <br />
    3. npm install --save @progress/kendo-ui
    <br />
    4. npm install --save @progress/kendo-theme-default
    <br />
    5. npm install --save @progress/kendo-grid-vue-wrapper
    <br>
    6. 請先下載完整範例程式碼
    <a target="blank" style="text-decoration:none;" href="https://github.com/AccesssoftTW/kendo-vue-grid">
        Github
    </a>
</h4>

<app-edit></app-edit>
<app-filter></app-filter>
<app-group></app-group>
<app-page></app-page>
<app-sort></app-sort>
<app-export></app-export>
