<h3>
    事前準備
</h3>

<h4>
    這邊假設已經準備好
    <a href="https://vuejs.org/" style="text-decoration:none;" target="blank"> Vue</a>
    開發環境 3.x版以上
    <br />
    1. vue create kendo-vue-scheduler
    <br />
    2. cd kendo-vue-scheduler
    <br />
    3. npm install --save @progress/kendo-ui
    <br />
    4. npm install --save @progress/kendo-theme-default
    <br />
    5. npm install --save @progress/kendo-grid-vue-wrapper
    <br>
    6. 請先下載完整範例程式碼
    <a target="blank" style="text-decoration:none;" href="https://github.com/AccesssoftTW/kendo-vue-grid">
        Github
    </a>
</h4>
<h3>
    選擇要呈現樣式
</h3>
<h4>
    - 可依照使用者需求客製化Grid
    <br>
    - 可簡單設定參數來匯出Excel、PDF
    <br>
    - 更多說明，請參考
    <a target="blank" style="text-decoration:none;" href="https://www.telerik.com/kendo-vue-ui/components/grid/">
        這裡
    </a>
    <br>
</h4>
<mat-card class="source-code-tab-card">
    <mat-tab-group class="tab-source-code-background">
        <mat-tab label="示例圖">
            <img class="img-card" width="80%" src="assets/vue/grid/demo.png" />
        </mat-tab>
        <mat-tab label="HTML-1">
            <img class="img-card" width="60%" src="assets/vue/grid/grid.png" />
        </mat-tab>
        <mat-tab label="HTML-2">
            <img class="img-card" width="60%" src="assets/vue/grid/column.png" />
        </mat-tab>
    </mat-tab-group>
</mat-card>
<app-edit></app-edit>
<app-filter></app-filter>
<app-group></app-group>
<app-page></app-page>
<app-sort></app-sort>
<app-export></app-export>


